<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/about.css">
    <title>About us</title>
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <div class="article">
                    <h2>Hi, I'm <span class="text_clr"> Debabrata Maity, </span> Welcome to <span class="text_clr"> Windmate</span></h2>
                    <p>Here You can easily find the weather status of your current location by just mentioning the name of the location. Even you can easily get in touch with the weather status of any location throughout the world. The weather status you will get to know here included with Current Centigrade temperature, What it be feels like & Humidity.
                    </p>
                    <div class="button">
                        <a href="/">Back to Home&nbsp;<i class="fad fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="image-section">
                <img src="images/about us.jpg" alt="about">
            </div>
            <div class="social">
                <a href="https://www.facebook.com/debabrata.maity.3950" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://m.me/debabrata.maity.3950" target="_blank"><i class="fab fa-facebook-messenger"></i></a>
                <a href="https://www.instagram.com/ayan.maity__official/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/ayanmaity98" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</body>
</html>